@font-face {
  font-family: 'Cinetype-Regular';
  src: url("fonts/GT-Cinetype-Regular.eot?#iefix") format('embedded-opentype'), url("fonts/GT-Cinetype-Regular.woff") format('woff'), url("fonts/GT-Cinetype-Regular.ttf") format('truetype'), url("fonts/GT-Cinetype-Regular.svg#GT-Cinetype-Regular-Italic") format('svg');
}
@font-face {
  font-family: 'Cinetype-Italic';
  src: url("fonts/GT-Cinetype-Regular-Italic.eot?#iefix") format('embedded-opentype'), url("fonts/GT-Cinetype-Regular-Italic.woff") format('woff'), url("fonts/GT-Cinetype-Regular-Italic.ttf") format('truetype'), url("fonts/GT-Cinetype-Regular-Italic.svg#GT-Cinetype-Regular") format('svg');
}
@font-face {
  font-family: 'Cinetype-Bold';
  src: url("fonts/GT-Cinetype-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/GT-Cinetype-Bold.woff") format('woff'), url("fonts/GT-Cinetype-Bold.ttf") format('truetype'), url("fonts/GT-Cinetype-Bold.svg#GT-Cinetype-Bold") format('svg');
  font-weight: normal !important;
}
/* sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
audio:not([controls]) {
  display: none;
}
details {
  display: block;
}
input[type="number"] {
  width: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
main {
  display: block;
}
summary {
  display: block;
}
pre {
  overflow: auto;
}
progress {
  display: inline-block;
}
small {
  font-size: 75%;
}
template {
  display: none;
}
textarea {
  overflow: auto;
}
[hidden] {
  display: none;
}
[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}
* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
}
*,
*::before,
*::after {
  border-style: solid;
  border-width: 0;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  vertical-align: top;
}
button,
input,
select,
textarea {
  background: transparent;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
input {
  min-height: 1.5em;
}
nav ol,
nav ul {
  list-style: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  resize: vertical;
}
::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}
.u-hidden {
  display: none !important;
  visibility: hidden;
}
.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-visuallyhidden.u-focusable:active,
.u-visuallyhidden.u-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.u-invisible {
  visibility: hidden;
}
.row:before,
.row:after,
.u-cf:before,
.u-cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.row:after,
.u-cf:after {
  clear: both;
}
html {
  overflow-y: scroll;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.header-container {
  margin: 0 auto;
  max-width: 2280px;
  min-width: 310px;
  width: 95%;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 310px;
  width: 80%;
}
.inner-container {
  margin: 0 auto;
  max-width: 1680px;
  min-width: 310px;
  width: 70%;
}
.text-container {
  margin: 0 auto;
  max-width: 1150px;
  min-width: 310px;
  width: 60%;
}
.percent-col {
  float: left;
  box-sizing: content-box;
}
.into-1 {
  width: 100%;
}
.into-2 {
  width: 50%;
}
.into-3 {
  width: 33.333333333333336%;
}
.into-4 {
  width: 25%;
}
.into-5 {
  width: 20%;
}
.into-6 {
  width: 16.666666666666668%;
}
.into-7 {
  width: 14.285714285714286%;
}
.into-8 {
  width: 12.5%;
}
.into-9 {
  width: 11.11111111111111%;
}
.into-10 {
  width: 10%;
}
body {
  font-family: 'Cinetype-Regular', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.45em;
  letter-spacing: 0.001em;
}
h1 {
  font-size: 40px;
}
h2,
h3 {
  font-size: 30px;
}
h4 {
  font-size: 16px;
  font-family: 'Cinetype-Bold', helvetica, arial, sans-serif;
}
h5,
h6 {
  font-size: 12px;
  font-family: 'Cinetype-Bold', helvetica, arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.45em;
  font-weight: normal !important;
}
p {
  margin-bottom: 1em;
}
em,
i,
.font-italic {
  font-family: 'Cinetype-Italic', helvetica, arial, sans-serif;
  font-style: normal;
}
strong,
b,
.font-bold {
  font-family: 'Cinetype-Bold', helvetica, arial, sans-serif;
  font-weight: normal !important;
}
.font-uppercase {
  text-transform: uppercase;
}
.font-caption {
  font-size: 12px;
}
a,
a:active,
a:visited,
.u-dummy-link {
  color: inherit;
  text-decoration: none !important;
}
a:hover,
a:active:hover,
a:visited:hover,
.u-dummy-link:hover {
  color: #00f;
  cursor: pointer;
}
html {
  background-color: #fff;
  color: #0e0e0e;
}
.invert-colors {
  color: #fff;
  background-color: #0e0e0e;
}
.overlay-active {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.u-pad-basic {
  box-sizing: border-box;
  padding: 32px;
}
.u-pad-small {
  box-sizing: border-box;
  padding: 16px;
}
.u-pad-tiny {
  box-sizing: border-box;
  padding: 8px;
}
.nomad-button {
  text-align: center;
  margin: 32px auto;
  padding: 16px;
}
.nomad-button a {
  border: 2px solid #000;
  padding: 16px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.01em;
}
.aligncenter {
  float: none;
  display: block;
  margin: 8px auto;
  padding: 0;
}
input,
button {
  border: 2px solid #000 !important;
  padding: 16px !important;
  text-transform: uppercase !important;
  font-size: 20px !important;
  letter-spacing: 0.01em !important;
}
#subForm p {
  padding-right: 10px;
  float: left;
}
#header {
  margin-top: 16px;
  margin-bottom: 32px;
}
.single-project #header {
  margin-bottom: 16px;
}
#menu ul {
  display: inline-block;
  margin-bottom: 4px;
}
#menu li {
  display: inline-block;
  margin-left: 0.5em;
}
#menu li a.active {
  color: #00f;
}
#scroll-to-menu {
  position: fixed;
  top: 18px;
  right: 16px;
  z-index: 99;
}
.header-social svg {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
  padding-bottom: 2px;
}
.header-social svg:hover path,
.header-social svg:hover polygon {
  fill: #00f;
}
.type-post,
.type-project {
  margin-bottom: 16px;
}
.post-title {
  color: #fff;
  box-sizing: border-box;
  padding: 32px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.post-title.js-open .post-toggle .post-toggle-close {
  display: inline-block !important;
}
.post-title.js-open .post-toggle .post-toggle-open {
  display: none !important;
}
.post-toggle {
  position: absolute;
  right: 32px;
}
.post-toggle-open {
  display: inline-block;
}
.post-toggle-close {
  display: none;
}
.post-copy {
  display: none;
  box-sizing: border-box;
  padding: 16px 32px 32px;
  text-align: left;
  margin: 0 auto;
  max-width: 700px;
}
.post-copy a:hover,
.post-copy .u-dummy-link:hover {
  color: #00f;
}
.project-video {
  width: 100%;
}
.index-project-title {
  padding: 16px 0;
}
.mobile-or-tablet-thumb {
  display: none;
}
.mobile-or-tablet .mobile-or-tablet-thumb {
  display: block;
}
.mobile-or-tablet .project-video {
  display: none;
}
.u-holder {
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
.grid-hover-title {
  color: #fff;
  display: inline;
  background-color: rgba(0,0,0,0.6);
  border: 3px solid rgba(0,0,0,0);
  font-weight: normal !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 28px;
}
.grid-hover:hover .u-holder,
.grid-hover:hover .grid-hover-holder {
  opacity: 1;
}
.grid-hover-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.viewer {
  position: relative;
}
.js-packery-container {
  height: 80vh;
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
}
.js-grid-img {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.js-grid-img.img-loaded {
  opacity: 1;
}
.single-nav {
  position: absolute;
  z-index: 99999;
}
.single-nav svg {
  width: 16px;
}
#single-close {
  top: 16px;
  right: 16px;
}
#single-next {
  top: 49%;
  right: 16px;
}
#single-prev {
  top: 49%;
  left: 16px;
}
#single-slider {
  position: relative;
}
#single-slider,
#single-slider-text {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.js-slick-container,
.slick-list,
.slick-track {
  height: 100%;
}
.slider-item {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 64px;
}
.slider-item:hover {
  cursor: e-resize;
}
.slider-img {
  margin: 0 auto;
}
#single-slider-text {
  text-align: center;
  padding: 1em 0;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.overlay {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.overlay-nav {
  position: absolute;
  z-index: 999;
  box-sizing: border-box;
  padding: 16px;
}
.overlay-nav svg {
  max-width: 16px;
  height: auto;
}
.overlay-close {
  top: 0;
  right: 0;
}
.overlay-close-character {
  font-size: 3em;
}
.overlay-next {
  top: 49%;
  right: 0;
}
.overlay-previous {
  top: 49%;
  left: 0;
}
.overlay-caption-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}
#video-overlay .u-holder {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 64px;
}
#video-overlay-insert {
  text-align: center;
}
#project-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#project-visuals {
  margin-top: 32px;
  margin-bottom: 96px;
}
.project-visual {
  box-sizing: border-box;
  padding: 8px;
}
#project-visuals-overlay {
  display: none;
}
#project-copy-nav {
  margin-bottom: 64px;
}
#project-copy-nav li {
  list-style: none;
  margin-bottom: 4px;
}
#project-copy-main {
  margin-bottom: 96px;
}
.project-copy-section {
  margin-bottom: 64px;
}
.project-copy-section img {
  float: left;
  padding-top: 0;
  padding-bottom: 16px;
  padding-right: 16px;
}
.project-copy-section img.alignright {
  float: right;
  padding-right: 0;
  padding-left: 16px;
}
.project-copy-section-title {
  padding-top: 32px;
  padding-bottom: 8px;
}
#page-copy {
  margin-top: 64px;
}
#footer {
  color: #808080;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
  min-height: 32px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.no-js #footer {
  opacity: 1;
}
@media screen and (max-width: 800px) {
  #header-left {
    width: 30%;
  }
  #header-right {
    width: 70%;
  }
  .percent-col.into-3 {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-family: 'Cinetype-Regular', helvetica, arial, sans-serif;
    font-size: 13px;
    line-height: 1.45em;
    letter-spacing: 0.001em;
  }
  h1 {
    font-size: 35px;
  }
  h2,
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 13px;
  }
  h5,
  h6 {
    font-size: 11px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.45em;
    font-weight: normal !important;
  }
  .font-caption {
    font-size: 11px;
  }
  .nomad-button a {
    font-size: 17px;
  }
  .single-nav svg {
    width: 13px;
  }
  .u-pad-basic {
    padding: 22px;
  }
  .u-pad-small {
    padding: 11px;
  }
  .u-pad-tiny {
    padding: 5.5px;
  }
  .nomad-button {
    margin: 22px auto;
    padding: 11px;
  }
  .nomad-button a {
    padding: 11px;
  }
  #header {
    margin-top: 11px;
    margin-bottom: 22px;
  }
  #scroll-to-menu {
    top: 13px;
    right: 11px;
  }
  .type-post,
  .type-project {
    margin-bottom: 11px;
  }
  .post-title {
    padding: 22px;
  }
  .post-toggle {
    right: 22px;
  }
  .post-copy {
    padding: 11px 22px 22px;
  }
  .index-project-title {
    padding: 11px 0;
  }
  .grid-hover-holder {
    padding: 5.5px;
  }
  #single-close {
    top: 11px;
    right: 11px;
  }
  #single-next {
    top: 49%;
    right: 11px;
  }
  #single-prev {
    top: 49%;
    left: 11px;
  }
  .slider-item {
    padding: 22px;
  }
  .overlay-nav {
    padding: 11px;
  }
  .overlay-nav svg {
    max-width: 11px;
  }
  .overlay-caption-holder {
    padding: 11px;
  }
  #video-overlay .u-holder {
    padding: 22px;
  }
  #project-visuals {
    margin-bottom: 66px;
  }
  .project-visual {
    padding: 5.5px;
  }
  #project-copy-nav {
    margin-bottom: 44px;
  }
  #project-copy-nav li {
    margin-bottom: 2.75px;
  }
  .project-copy-section {
    margin-bottom: 44px;
  }
  .project-copy-section-title {
    padding-top: 22px;
    padding-bottom: 5.5px;
  }
  #page-copy {
    margin-top: 44px;
  }
  #footer {
    min-height: 22px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .percent-col.into-3 {
    width: 100%;
  }
  .project-copy-section {
    margin-bottom: 44px;
  }
  .project-copy-section img {
    float: none !important;
    display: block !important;
    margin: 5.5px auto !important;
    padding: 0 !important;
    padding-top: 5.5px;
    padding-top: 5.5px;
  }
}
